.dd-wrapper {
  color: black;
  background-color: white;
  position: relative;
  width: 30%;
  margin: 0 auto;
  box-shadow: 10px 10px 1px;
}

.dd-list {
  width: 100%;
  list-style: none;
  padding: 0;
  position: absolute;
  z-index: 200;
  background-color: white;
  margin-top: 0;
  box-shadow: 0 2px 5px -1px rgb(232, 232, 232);
}
