.outerContainer {
  align-items: center;
  background-color: #1a1a1d;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  height: 100%;
  width: 100%;
}
