body {
  color: white;
}

#loginPage {
  text-align: center;
}

#loginButton {
  display: inline-block;
  justify-content: center;
  background-color: #1db954;
  color: white;
  border-radius: 30px;
  border-style: none;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

#loginButton:hover {
  cursor: pointer;
}
